<div class="container">
  <%= link_to "Take me back", tasks_path, :class => "btn btn-primary mt-5 mb-4" %>
 <%= link_to "Edit", edit_path, :class => "btn btn-primary mt-5 mb-4" %>
<div>
  <h1><%= @task.title %></h1>
  <div class="alert alert-secondary" role="alert">
  <%= @task.details %>
</div>
<% if @task.completed %>
  <input class="form-check-input" type="checkbox" value="" checked id="defaultCheck1" disabled>
  <label class="form-check-label" for="defaultCheck1">
    This task is done
  </label>
  <% else %>
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled>
  <label class="form-check-label" for="defaultCheck1">
    This task is not done
  </label>
 <% end %>
</div>
</div>
